.mainColor {
  color: white;
  background-color: #ad6e47;
}
.altColor-1 {
  background-color: rgb(249, 248, 245);
}
.altColor-2 {
  background-color: rgb(239, 239, 239);
}
.padal-cell {
}
.asai-cell {
}
.seer-cell {
}
